body{

    background-color: rgb(76, 117, 103);

}

header{
display:flex
background-color: rgb(35, 48, 74);
justify:content:single-between;
podding: 20px;
}

.cabecalho_menuitem{

text-transform: uppercase;
display: inline;
margin-left:50px ;


}


.cabecalho_imagem{
width: 200px;
height:200px ;
border-radius: 50px;
}